body
{
  
    background: url(categorias.jpg);   
    background-size: 100%;
}
.box input[type ="text"]{
    border: 0;
    background:none;
    display: -moz-stack;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #0615ec;
    padding: 14px 10px;
    width: 150px;
    border-radius: 20px; 
}
.box input[type ="text"]:focus{
    width: 200px;
    border-color: chartreuse;

}